@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');

.main {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: var(--dark-cyan);

  p {
    color: var(--grayish-blue);
  }
}
